<p id="notice"><%= notice %></p>
<% provide(:title, @parent.parent_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @parent.parent_name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Child Name</strong>
  <%= @parent.child_name %>
</p>

<p>
  <strong>Parent Name</strong>
  <%= @parent.parent_name  %>
</p>

<p>
  <strong>Email</strong>
  <%= @parent.email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
